@if (o()) {

<div class="p-6 space-y-6">

  <h1 class="text-2xl font-bold">Order #{{ o()!.code }}</h1>

  <div class="grid grid-cols-4 gap-4">
    <div class="border p-4 rounded">
      Total<br><b>{{ totalAmount() }} {{ o()!.currency }}</b>
    </div>
    <div class="border p-4 rounded">
      Items<br><b>{{ totalItems() }}</b>
    </div>
    <div class="border p-4 rounded">
      Status<br><b>{{ o()!.status }}</b>
    </div>
    <div class="border p-4 rounded">
      Date<br><b>{{ o()!.date }}</b>
    </div>
  </div>

  <table class="w-full border">
    <thead class="bg-gray-100">
      <tr>
        <th class="p-2 border">#</th>
        <th class="p-2 border">SKU</th>
        <th class="p-2 border">Unit</th>
        <th class="p-2 border">Qty</th>
        <th class="p-2 border">Total</th>
      </tr>
    </thead>
    <tbody>
      @for (i of o()!.items ; track i.sku)  {
        <tr>
          <td class="border p-2">{{ i!.unit_price + 1 }}</td>
          <td class="border p-2">{{ i!.sku }}</td>
          <td class="border p-2">{{ i!.unit_price }}</td>
          <td class="border p-2">{{ i!.quantity }}</td>
          <td class="border p-2">{{ i!.total }}</td>
        </tr>
      }
    </tbody>
  </table>

  <div class="grid grid-cols-2 gap-6">
    <div class="border p-4 rounded">
      <h2 class="font-bold mb-2">Customer</h2>
      <p>{{ o()!.customer.name }}</p>
      <p>{{ o()!.customer.email }}</p>
      <p>{{ o()!.customer.phone }}</p>
    </div>

    <div class="border p-4 rounded">
      <h2 class="font-bold mb-2">Shipping</h2>
      <p>{{ o()!.shipping.email }}</p>
      <p>{{ o()!.shipping.phone }}</p>
      <p>{{ o()!.shipping.address }}</p>
    </div>
  </div>

</div>

} @else {

<div class="p-6 text-gray-500">
  Loading order...
</div>

}
!