<ng-container *ngIf="profile$ | async as profile; else loading">
  <!-- Верхняя часть профиля -->
  <div class="flex items-center gap-6">
  
            @if (avatarUrl$) {
   
      <img class=" w-30 h-30 rounded-full object-cover  " *ngIf="avatarUrl$ | async as url" [src]="url" alt="Avatar" />
   

        } @else {
          <span 
            class="w-20 h-20 rounded-full bg-gray-200 flex items-center justify-center text-gray-500"
          >
            No Image
          </span>
        }
    <div>
      <h1 class="text-2xl font-bold">{{ profile.first_name }} {{ profile.last_name }}</h1>
      <p class="text-gray-500">{{ profile.email }}</p> 
      <p class="text-gray-500">{{ profile.phone }}</p>
      <p class="text-gray-400 text-sm">Joined: {{ profile.date_joined | date:'mediumDate' }}</p>
    </div>
  </div>

  <!-- Сетка информации -->
  <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4">

    <!-- Account Type -->
    <div>
      <h2 class="font-semibold">Account Type</h2>
      <p>{{ profile.account_type | titlecase }}</p>
    </div>

    <!-- Company Info -->
    <div *ngIf="profile.account_type === 'company'">
      <h2 class="font-semibold">Company Name</h2>
      <p>{{ profile.company_name }}</p>

      <h2 class="font-semibold mt-2">Company Reg No</h2>
      <p>{{ profile.company_reg_no }}</p>

      <h2 class="font-semibold mt-2">VAT ID</h2>
      <p>{{ profile.company_vat_id }}</p>
    </div>

    <!-- Email Verified -->
    <div>
      <h2 class="font-semibold">Email Verified</h2>
      <p>{{ profile.is_email_verified ? 'Yes' : 'No' }}</p>
    </div>

    <!-- Roles -->
    <div>
      <h2 class="font-semibold">Roles</h2>
      <p>
        <span *ngIf="profile.is_manager">Manager</span>
        <span *ngIf="profile.is_staff">Staff</span>
      </p>
    </div>

    <!-- Groups -->
    <div>
      <h2 class="font-semibold">Groups</h2>
      <ul class="list-disc list-inside">
        <li *ngFor="let group of profile.groups">{{ group }}</li>
      </ul>
    </div>

  </div>
</ng-container>

<ng-template #loading>
  <p class="text-gray-500 text-center">Loading profile...</p>
</ng-template>
