<div class="bg-white shadow-md">
  <app-container class="py-2 flex items-center justify-between">

    <!-- Левый блок: Категории -->
    <div class="relative">
      <button
        type="button"
        (click)="toggleMenu()"
        class="py-2 flex items-center gap-2 text-green rounded  cursor-pointer hover:text-green/80"
      >
        <mat-icon>menu</mat-icon>
        Категории
      </button>

      <!-- Выпадающее меню -->
      @if(isOpen) {
        <div
          class="absolute mt-2 left-0 right-0 md:left-auto md:right-auto md:w-[720px] w-full max-w-screen-sm md:max-w-none bg-white border border-gray-300 rounded shadow-lg z-50 p-4 overflow-auto"
        >
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            
            @for(cat of categories; track cat.id) {
              <div class="space-y-1">
                
                <!-- Родитель -->
                <p
                  
                  class="font-semibold px-2 py-1   rounded block"
                >
                  {{ cat.name }}
                </p>

                <!-- Дети -->
                @if(cat.children?.length) {
                  <ul class="pl-4 space-y-1">
                    @for(sub of cat.children; track sub.id) {
                      <a [routerLink]="['/catalog', sub.slug]">
                        <li
                          class="hover:bg-gray cursor-pointer rounded px-2 py-1 text-sm"
                        >
                          {{ sub.name }}
                        </li>
                      </a>
                    }
                  </ul>
                }

              </div>
            }

          </div>
        </div>
      }
    </div>

    <!-- Правая часть -->
    <div></div>

  </app-container>
</div>
