<form [formGroup]="form" (ngSubmit)="submit()">
@if (isEdit()) {
  <h2 class="text-xl font-semibold mb-4">Edit Order #{{ form.value.orderNumber }}</h2>
} @else {
  <h2 class="text-xl font-semibold mb-4">Create New Order</h2>
}
  <app-form-field label="Order #" [error]="getError('orderNumber')">
    <app-text-input formControlName="orderNumber"></app-text-input>
  </app-form-field>

  <app-form-field label="Total" [error]="getError('total')">
    <app-number-input formControlName="total"></app-number-input>
  </app-form-field>

  <app-form-field label="Status" [error]="getError('status')">
    <app-text-input formControlName="status"></app-text-input>
  </app-form-field>

  <app-form-field label="Date" [error]="getError('date')">
    <app-text-input formControlName="date"></app-text-input>
  </app-form-field>

  <!-- CUSTOMER -->
  <div formGroupName="customer">
    <app-form-field label="Customer Name" [error]="getNestedError('customer','name')">
      <app-text-input formControlName="name"></app-text-input>
    </app-form-field>

    <app-form-field label="Customer Email" [error]="getNestedError('customer','email')">
      <app-text-input formControlName="email"></app-text-input>
    </app-form-field>

    <app-form-field label="Customer Phone" [error]="getNestedError('customer','phone')">
      <app-text-input formControlName="phone"></app-text-input>
    </app-form-field>
  </div>

  <!-- SHIPPING -->
  <div formGroupName="shipping">
    <app-form-field label="Shipping Email">
      <app-text-input formControlName="email"></app-text-input>
    </app-form-field>

    <app-form-field label="Shipping Phone">
      <app-text-input formControlName="phone"></app-text-input>
    </app-form-field>

    <app-form-field label="Shipping Address">
      <app-text-input formControlName="address"></app-text-input>
    </app-form-field>
  </div>

 <div formArrayName="items">
  @for (item of items.controls; track $index; let i = $index) {
    <div [formGroupName]="i">

      <app-form-field label="SKU">
        <app-text-input formControlName="sku"></app-text-input>
      </app-form-field>

      <app-form-field label="Unit">
        <app-number-input formControlName="unit"></app-number-input>
      </app-form-field>

      <app-form-field label="Qty">
        <app-number-input formControlName="qty"></app-number-input>
      </app-form-field>

      <app-form-field label="Total">
        <app-number-input formControlName="total"></app-number-input>
      </app-form-field>

      <button type="button" (click)="removeItem(i)">Remove</button>
    </div>
  }

  <button type="button" (click)="addItem()">Add Item</button>
</div>


  <button type="submit">Save Order</button>
</form>
